body {
    margin: 0px;
    background-color: #000;
    overflow: hidden;
}

#views {
    position: fixed;
    bottom: 15px;
    left: 15px;
    padding: 15px;
    background-color: rgba(127, 255, 212, 0.5);
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 0px;
    font-size: 14px;
    line-height: 1.72;
    width: 200;
}

#movement {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 15px;
    background-color: rgba(127, 255, 212, 0.5);
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 0px;
    font-size: 14px;
    line-height: 1.72;
    width: 250px;
}
